
.container-fluid {
   
}

#hnavbar {
    background-color: blueviolet !important;
}

.navbar-brand {
    color: white !important;
}

.body {
    background-color: rgb(7, 7, 37);
}

#APLogo {
    width: 100px;
}

#logolinkedin {
    width: 30px;
}

#logogithub {
    width: 30px;
    margin-right: 10px;
}

#login {
    margin-top: 10px;
    margin-left: 10px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.slide img {
    max-height: 30vh;
   filter: grayscale(45%);
    
}

#mifoto {
    margin-top: 300px;
}

#carousel {
    
    position: absolute;

}



#miFoto {
    align-items: center;
    height: 150px;
    margin: 5vh;
    border-radius: 100%;
}



#footer {
    background-color: red;
}

#footer a {
    color: aliceblue;
    font-weight: bold;
    text-decoration: none;
}
#mifoto {
    border-radius: 100%;
    height: 20vh;
    margin-bottom: 30%;
}

