#header {
    background-color: blueviolet !important;
    padding: 0;

}

.body {
    background-color: rgb(7, 7, 37);
}



#APLogo {
    width: 100px;
}

#logolinkedin {
    width: 30px;
}

#logogithub {
    width: 30px;
    margin-right: 10px;
}

#login {
    margin-top: 10px;
    margin-left: 10px;
    padding-top: 0px;
    padding-bottom: 0px;
}

#main .carousel-inner img {
    max-height: 30vh;
    object-fit: cover;
    filter: grayscale(70%);
}

#carousel {
    
    position: relative;

}

#carousel .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right 0;
    background-color: rgba(0,0,0,0.5);
    color: white;
    

}

#miFoto {
    align-items: center;
    height: 150px;
    margin: 5vh;
    border-radius: 100%;
}

#col1 {
      margin-top: 5vh;
}

#col2 {
   
    text-align: center;
    margin-top: 2vh;
}

#footer {
    background-color: red;
}

#footer a {
    color: aliceblue;
    font-weight: bold;
    text-decoration: none;
}